@page "/"
@using BreadCharts.Core.Models
@using BreadCharts.Core.Services
@using SpotifyAPI.Web
@using BreadCharts.Web.Components.Charts
@using BreadCharts.Web.Data
@using Microsoft.AspNetCore.Identity

@inject NavigationManager NavigationManager;
@inject ISpotifyClientService SpotifyClientService;
@inject UserManager<ApplicationUser> UserManager;
@inject IHttpContextAccessor HttpContextAccessor;

<PageTitle>Home</PageTitle>

<FluentStack Orientation="Orientation.Vertical" Class="overflow-y">
    @if (authed)
    {
        <FluentStack>
            <p>Welcome @(username)!</p>
        </FluentStack>
        <ChartPicker/>
    }
    else
    {
        <p>Please sign in to continue. Redirecting...</p>
    }
    
</FluentStack>

@code {

    bool authed;
    bool loading = false;

    List<FullTrack> TrackOptions = new();
    List<ChartOption> ChartOptions = new();
    string selectedOption;
    string selectedChartOption;
    static string defaultResultsText = "no results";
    
    string username;
    
    protected override async Task OnInitializedAsync()
    {
        var context = HttpContextAccessor.HttpContext;
        authed = context?.User?.Identity?.IsAuthenticated == true;
        if (authed)
        {
            var user = await UserManager.GetUserAsync(context!.User);
            if (user is not null && !string.IsNullOrEmpty(user.AccessToken))
            {
                var userProfile = await SpotifyClientService.GetUserProfile(user.Id, user.AccessToken!, user.RefreshToken);
                if (userProfile != null)
                {
                    username = userProfile.Name;
                }
            }
        }
    }
}