@page "/"
@using BreadCharts.Core.Models
@using BreadCharts.Core.Services
@using SpotifyAPI.Web
@using BreadCharts.Web.Components.Charts

@inject NavigationManager NavigationManager;
@inject SpotifyAuthService spotifyService;

<PageTitle>Home</PageTitle>

<FluentStack Orientation="Orientation.Vertical" Class="overflow-y">
    @if (spotifyService.Authed)
    {
        <FluentStack>
            <p>Welcome @(username)!</p>
        </FluentStack>
        <ChartPicker/>
    }
    else
    {
        <FluentButton IconStart="@(new Icons.Regular.Size16.ArrowClockwise())"
                      Loading="@loading"
                      OnClick="@ExternalAuthChallenge">
            Auth Spotify
        </FluentButton>
    }
    
</FluentStack>

@code {

    bool authed;
    bool loading = false;

    List<FullTrack> TrackOptions = new();
    List<ChartOption> ChartOptions = new();
    string selectedOption;
    string selectedChartOption;
    static string defaultResultsText = "no results";
    
    string username;
    
    protected override async Task OnInitializedAsync()
    {
        authed = spotifyService.Authed;
        if (authed)
        {
            var userProfile = await spotifyService.GetUserProfile();
            if (userProfile != null)
            {
                username = userProfile.Name;
            }
        }
    }

    async Task ExternalAuthChallenge()
    {
        var challengeUri = spotifyService.LoginChallenge();
        NavigationManager.NavigateTo(challengeUri.ToString());
    }

}